--extra-index-url https://download.pytorch.org/whl/cu121
torch
transformers==4.48.3
guidance
bitsandbytes
accelerate
huggingface-hub
pandas
dspy
uv
--find-links https://flashinfer.ai/whl/cu124/torch2.5/flashinfer-python
sgl-kernel
sglang[all]==0.4.3.post2
ruamel.yaml